@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');


.flex{
    display: flex;
    justify-content: space-between;
}
.hidden{
    visibility: hidden;
}
.title{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}
.userName{
    display: flex;
    margin: .5em 0;  
}
.btn{
    display: flex;
    margin: .5em 0;  
}
.userDiv{
    padding: 0 2%;
    font-family: 'Muli', sans-serif;
    font-size: 1.3rem;
    align-items: center;
}
.card-content{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
}
.logOut{
    margin-right: 0rem;
}
.control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.addPost{
    min-width: 30rem;
    max-width: 40rem;
    max-height: 20rem;
}
.feedFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1%;
    padding: 2%
}
.card-header-title{
    font-weight: 600;
}

.card{
    margin: 2% 1%;
    min-width: 15rem;
    max-width: 20rem;
}

.message{
    margin-top: 2rem;
    min-width: 30%;
    padding: 1em;
    border: 1px solid #78d3b4;
}